{% extends 'base.html' %}

{% block title %}
{{ user.last_name }}
{% endblock %}

{% block content %}
<div class="container">
    <h1>{{ user.last_name }}</h1>


    <div class="alert alert-info">
        <h4>Данные пользователя:</h4>

        <table class="table table-sm" style="width: auto;">
            <tbody>
                <tr>
                    <th scope="row">ID</th>
                    <td>{{ user.id }}</td>
                </tr>
                <tr>
                    <th scope="row">Фамилия</th>
                    <td>{{ user.last_name }}</td>
                </tr>
                <tr>
                    <th scope="row">Имя</th>
                    <td>{{ user.first_name }}</td>
                </tr>
                <tr>
                    <th scope="row">Отчество</th>
                    <td>{{ user.patronymic }}</td>
                </tr>
                <tr>
                    <th scope="row">Дата рождения</th>
                    <td>{{ user.birthday }}</td>
                </tr>
            </tbody>
        </table>

        <a type="button" class="btn btn-warning" href="/">Редактировать</a>
        <a type="button" class="btn btn-danger" href="/users/{{user.id}}/delete">Удалить</a>

    </div>

</div>

{% endblock %}